<div class="home-container">
    <img src="assets/Profile-pic.png" alt="Profile Photo" class="profile-pic">
    <h1>Rakesh Ganji</h1>
    <p class="bio-container">Experienced Software Engineer with expertise in HTML, CSS, JavaScript, Angular, Power Apps, Power Automate, UiPath, and Automation Anywhere. Skilled in building responsive web applications and optimizing business workflows through automation. Developed Power Apps solutions integrated with Dataverse and automated tasks using RPA tools. Passionate about process optimization, UI/UX, and scalable solutions. Continuously learning to drive innovation and efficiency in technology.</p>
         
       <div class="skills-experience-container">
          <div class="skillls-container">
            <h2>Skills</h2>
            <span [ngStyle]="{'margin-top':'15px'}"><img src="assets/Angular-logo.webp" alt="Profile Photo" class="Angular-logo-container"> </span>
            <span [ngStyle]="{'margin-right':'15px'}"><img  src="assets/HTML-logo.png" alt="Profile Photo" class="HTML-logo-container"></span>
            <span [ngStyle]="{'margin-right':'30px'}"><img src="assets/CSS-logo.png" alt="Profile Photo" class="CSS-logo-container"></span>
            <span [ngStyle]="{'margin-top':'15px'}"><img src="assets/JS-logo.png" alt="Profile Photo" class="JS-logo-container"></span>
            <span [ngStyle]="{'margin-left':'15px'}"><img src="assets/Powerapp-logo.png" alt="Profile Photo" class="Powerapp-logo-container"> </span>
            <span [ngStyle]="{'margin-top':'15px'}"><img src="assets/powerpages-logo.webp" alt="Profile Photo" class="Powerpages-logo-container"> </span>
            <span [ngStyle]="{'margin-right':'5px'}"><img  src="assets/powerautomate-logo.png" alt="Profile Photo" class="Powerautomate-logo-container"></span>
            <span [ngStyle]="{'margin-right':'30px'}"><img src="assets/UIpath-logo.png" alt="Profile Photo" class="UIpath-logo-container"></span>
            <span><img src="assets/AAR-logo.avif" alt="Profile Photo" class="AAR-logo-container"></span>
          </div>
           <div class="experience-container">
               <h2>2 Years Experience</h2>
           </div>
       </div>
      <div class="buttons-container">
        <a class="projects-button" href="/projects">View My Work</a>
        <a  class="projects-button" href="/contact">Contact Me</a>
      </div>
</div>
  


    