<div class="container mt-5">
    <h2 id="contact-header">{{pageTitle}}</h2>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
      
        <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Name</mat-label>
            <input matInput id="name" formControlName="name" placeholder="Enter your email"/>
            <mat-error *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
              Name is required
            </mat-error>
          </mat-form-field>
      
         
          <mat-form-field appearance="outline" class="full-width" floatLabel="always">
            <mat-label>Email</mat-label>
            <input matInput id="email" type="email" formControlName="email" placeholder="Enter your email" />
            <mat-error *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
              <span *ngIf="contactForm.get('email')?.hasError('required')">Email is required</span>
              <span *ngIf="contactForm.get('email')?.hasError('email')">Invalid email address</span>
            </mat-error>
          </mat-form-field>
      
          
          <mat-form-field appearance="outline" class="full-width"floatLabel="always">
            <mat-label>Message</mat-label>
            <textarea matInput id="message" formControlName="message" rows="4" placeholder="Enter your message"></textarea>
            <mat-error *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
              Message is required
            </mat-error>
          </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send</button>
    </form>
  </div>